.footer {
  z-index: 99;
  padding: 1rem 0;
  background-color: $whiteColor;
  border-top: 1px solid $borderColor;
}

.nav-footer {
  &__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;

    :not(:last-child) {
      margin-right: 1rem;
    }
    
  }
  
  &____item {
    font-size: 0, 875rem;
  }
}

.desc-footer {
  margin: 0 auto;
  text-align: center;
  font-size: 0.875rem;
  opacity: 0.7;
  margin-top: 0.5rem;
}